* {
    box-sizing: border-box;
}

body {
    margin: 15px;
    padding: 10px;
}

.header {
    height: 50px;
    width: 100%;
    border: 2px solid black;
}
 .circle {
     height: 30px;
     width: 30px;
     border: 2px solid black;
 }

 .name {
     height: 20px;
     width: 75px;
     border: 2px solid black;
 }

 .date {
     height: 15px;
     width: 75px;
     border: 2px solid black;
 }


.image {
    width: 90vw;
    height: auto;
}